[submodule "libs/internal/km_common"]
	path = libs/internal/km_common
	url = https://github.com/jmrico01/km_common.git
[submodule "libs/internal/km_platform"]
	path = libs/internal/km_platform
	url = https://github.com/jmrico01/km_platform.git
